<html>
<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h4>Our Newsletter</h4>
                    <p>Join our book drive test newsletter and receive updates on upcoming events, volunteer
                        opportunities, and success stories that ignite the joy of reading.</p>
                </div>
                <div class="col-lg-6">
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Dashboard</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/GTest">G Test</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/G2Test">G2 Test</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Login">Login</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Drivers' Licence</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Drivers' Test</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Book a Road Test</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Find a DriveTest Centre</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        1405 Ottawa St N Unit 11 <br>
                        Kitchener, ON N2A 3Z1<br>
                        Canada <br><br>
                        <strong>Phone:</strong> +1 888-570-6110<br>
                        <strong>Email:</strong> bookdrivetest@ontario.ca<br>
                    </p>

                </div>

                <div class="col-lg-3 col-md-6 footer-info">
                    <h3>About Book Drive Test</h3>
                    <p>Welcome to Book Drive Test, where we champion literacy and provide equal access to books
                        through community-driven initiatives. Join us in our mission to ignite a love for reading
                        and empower individuals through the power of books.</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Book Drive Test</span></strong>. All Rights Reserved
        </div>

    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

</html>