<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>

<body>

    <%- include('layouts/Dashboardnavbar') -%>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Driving Test Booking</span></h2>
                    <p class="animate__animated animate__fadeInUp">Accelerate towards success on the road. Simplify your
                        journey
                        to a driver's license with our seamless test booking service. Get ready to conquer the streets!
                    </p>
                    <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                </div>
            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Services Section ======= -->
        <section class="services">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="icon-box icon-box-pink">
                            <div class="icon"><i class="bi bi-person-vcard"></i></div>
                            <h4 class="title"><a href="">Drivers' Licence</a></h4>
                            <p class="description">Government-issued permit allowing individuals to drive legally,
                                verifying their
                                identity and meeting age, residency, and competency criteria.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon"><i class="bi bi-file-earmark-text"></i></div>
                            <h4 class="title"><a href="">Drivers' Tests</a></h4>
                            <p class="description">The driver's test is a licensing authority's evaluation of driving
                                skills and
                                knowledge through practical and written assessments.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box icon-box-green">
                            <div class="icon"><i class="bi bi-calendar4-event"></i></div>
                            <h4 class="title"><a href="">Book a Road Test</a></h4>
                            <p class="description">To book a road test, you need to set an appointment with the
                                licensing authority,
                                share personal details, select a suitable time and place, and pay the necessary fees.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box icon-box-blue">
                            <div class="icon"><i class="bi bi-geo-alt"></i></div>
                            <h4 class="title"><a href="">Find a DriveTest Centre</a></h4>
                            <p class="description">To find a DriveTest Centre, you can utilize online tools, contact the
                                licensing
                                authority, or consult an approved testing location directory to locate the nearest
                                authorized facility.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Services Section -->

    </main><!-- End #main -->

    <%- include('layouts/footer') -%>

    <%- include('layouts/scripts') -%>

</body>

</html>