<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header') -%>

<body>

    <%- include('layouts/Dashboardnavbar') -%>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Page <span>not Found</span></h2>
                    <p class="animate__animated animate__fadeInUp">Error 404
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End Hero -->

   

    <%- include('layouts/footer') -%>

    <%- include('layouts/scripts') -%>

</body>

</html>